/*main header contact number font, style. Also Border styling and color. */
h1 {
    color: black;
    text-align: center;
    border-style: solid;
    border-color: black;
}

/*Home page Body Header styling*/
h2 {
    color: black;
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
}

h3 {
    color: black;
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
}
#video {
    text-align: center;
}

#loginsuccess{
    text-align: center;

}

#header {
    border-color: none;
}

/*Home page Body paragraph image styling*/
.image2 {
    width: 85%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0rem;
    border-radius: 25%;
    border-color: black;
    border-style: solid;
}

.image3 {
    width: 85%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0rem;
    border-radius: 25%;
    margin-top: 20px;
}

.board1 {
    border: 10px;
    border-color: black;
    background-color: gray;
    border-radius: 20%;
    width: 600px;
}

.board2 {
    border: 10px;
    border-color: black;
    background-color: gray;
    border-radius: 25%;
    width: 600px;
}

/*Preventative mesaure to make sure overlay auto sizes to fit inside column or rows */
.clearfix {
    overflow: auto;
}

#footer{
    text-align: center;
    color: black;
}


/* home page paragraph "home" font, color, styling*/
#home {
    font-size: x-large;
    color: maroon;
    text-align: center;
    border-style:solid;
    margin: 0;
    padding: 0rem;
    background-color: lightslategrey;
    border-color: black;
    border-radius: 20%;
    overflow: auto;
    height: 93%;
    width: 100%;
}

/*Gallery Caption Styling*/
#Gallery{
    font-size: x-large;
    text-align: left;
    overflow: auto;
    color: black;
  
}

/*Privacy Policy Footer Link Styling*/
#privacy {
    font-size: large;
    color: maroon;
    text-align: center;
    border-style: solid;
    margin: 0;
    padding: 2rem;
    background-color: lightgray;
    border-color: black;
    overflow: auto;
    height: 100%;
    width: 100%;
}
/*Body Paragraphs*/
#Body {
    font-size: x-large;
    color: maroon;
    text-align: center;
    border-style: solid;
    margin: 0;
    padding: 0rem;
    background-color: lightslategrey;
    border-color: black;
    border-radius: 10%;
    overflow: auto;
    height: 100%;
    width: 100%;
}

/*Skilled Nursing Page Font Styling*/
#Skilled {
    font-size: x-large;
    color: maroon;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem;
    background: none;
}

/*Assisted Living Page Font Styling*/
#Assisted {
    font-size: x-large;
    color: maroon;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem;
    background: none;
}

/*Independent Living Page Font Styling*/
#Independent {
    font-size: x-large;
    color: maroon;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem;
    background: none;
}

#SignIn {
    margin-left: auto;
    margin-right: auto;
    padding: 4rem;
}

/*background image and styling, also margin and padding for body*/
body {
    background-image: url('Images/gradient-white-brown-linear-1920x1080-c2-800000-f5fffa-a-90-f-14.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: medium;
    border-style: solid;
    margin: 0;
    padding: 0rem;
}

footer {
    text-align: center;
    border-style: none;
    border-color: gray;
}